<nav>
  <ul>
      <% @dish.each do |dish| %>
      <% if dish.photo != "" %>
      <li style="display:inline;">
        <img class="gallery-td" id= <%= dish.name %> src= <%= dish.photo %> >
        
      </li>
      <% end %>
      <% end %>
  </ul>
</nav>
