<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Please Login or <a href="/signup">Sign UP</a>
                <hr>
                <div class="col-lg-12 text-center">
                  <form action="/session" method="post">
                  <label class="label">Username</label>
                  <input type="text" name="username">
                  <label class="label">Email</label>
                  <input type="text" name="email">
                  <label class="label">Password</label>
                  <input type="password" name="password"></br>
                  <button class = "label">Login</button>
                  </form>
              </div>
          </div>
       </div>
   </div>
</div>
