<form action="/newuser" method="post">
<label>Username</label>
<input type="text" name="username">

<label>Email</label>
<input type="text" name="email">

<label>Password</label>
<input type="password" name="password">

<button>Create Account</button>
</form>
