@import "mixins.less";

#login {
  float: right;
  font-size: 15px;
  color: white;
}
#login a{
  color: white;
  text-decoration: none;
}
label {
  color: white;
}
tr {
  text-align: center;
}
.glyphicon {
  cursor: pointer;
}
