
#login {
  float: right;
  font-size: 15px;
  color: white;
}
#login a {
  color: white;
  text-decoration: none;
}
.layout-form {
  display: inline;
}
label {
  color: black;
}
#navbar-toggle-login form {
  float: right;
}
.form-row {
  text-align: left;
  padding: 2px 250px;
}
tr {
  text-align: center;
}

.glyphicon {
  cursor: pointer;
  font-size: 22px;
  padding-top: 5px;
}
label:after {
    content: "*";
    font-size: 10px;
    padding-left: 5px;
    color: red;
}
button {
  margin-top: 20px;
}
.label {
  color: black;
}
@media(max-width:1100px) {
  .label {
    display: block;
    padding-top: 4px;
  }
  form {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #signUpBtn, #loginBtn {
    display: inline;
  }
 button {
  margin: 10px auto;
}
}
.modal {
  margin-top: 150px;
}
@media (max-width:800px) {
.navbar-brand {
  display: inline;
  width: 40%;
}
#navbar-toggle-login {
  display: inline;
  width: 30%;
  position: absolute;
  right: 0;
}
.navbar-toggle {
  display: inline;
}
#logoutBtn {
  display: inline !important;
}
}
.gallery-td {
  padding: 20px 20px;
  max-width: 300px;
  max-height: 200px;
  display: inline-block;
}
#back-top {
width: 80px;
height: 25px;
padding: 10px;
background-color:transparent;
border-radius: 5px;
text-align:center;
color: black;
}
